* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #f1f1f1;
    --text-color: #ffffff;
    --menu-color: #fff;
    --main-color: #45a1f7;
}

body {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

/* começo menu */

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    padding: 25px 10px;
    transition: all .5s ease;
}

header.rolagem{
    background: var(--menu-color);
    padding: 12px 10px;
}

header.rolagem a{
    color: #000;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 600;
}

.logo i {
    font-size: 1.4rem;
    margin-right: 5%;
}

header.rolagem .logo i {
    font-size: 1.4rem;
    margin-right: 5%;
    color: #000;
}

header.rolagem .logo{
    display: flex;
    align-items: center;
    color: #000;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 500;
    padding: 20px 19px;
    justify-content: space-around;
    margin: 0px 20px;
    transition: .5s ease;
}

.navbar li {
    transition: .5s;
}
.navbar li:hover {
    transform: scale(1.15);
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .5s ease;
}

.select-dalt {
    width: 200px;
}

.select-dalt .select-btn {
    display: flex;
    height: 55px;
    background: #1a8afa;
    padding: 20px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.514);
}

header.rolagem .select-btn {
    display: flex;
    height: 55px;
    background: #ffffff;
    padding: 20px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.514);
}

.select-btn i {
    font-size: 25px;
    transition: .5s ease;
}

header.rolagem .btn-dalt {
    color: #000;
}

header.rolagem .select-btn i {
    font-size: 25px;
    transition: .5s ease;
    color: #000;
}

.select-dalt.active .select-btn i {
    transform: rotate(-180deg);
}

.select-dalt .options {
    position: absolute;
    padding: 20px;
    margin-top: 10px;
    background: #1a8afa;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.514);
    display: none;
    transition: .5s;
}

header.rolagem .options {
    position: absolute;
    padding: 20px;
    margin-top: 10px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.514);
    display: none;
    transition: .5s;
}

.select-dalt.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 50px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: transparent;
    color: #ffffff;
}

header.rolagem .option {
    display: flex;
    height: 50px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: transparent;
    color: #000;
}

.options .option:hover {
    background: #4ca3fa;
}

header.rolagem .option:hover {
    background: #f1f1f1;
}

.option .option-text {
    font-size: 15px;
    text-transform: uppercase;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 8px;
    transition: 0.3s;
}

header.rolagem .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #000000;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    .navbar {
        position: absolute;
        top: 15vh;
        right: -1%;
        width: 40vw;
        height: 62vh;
        box-shadow: 0 0 5px rgba(51, 51, 51, 0.514);
        border-radius: 15px;
        background: #1a8afa;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: all .5s ease;
    }
    
    .navbar li {
        margin-left: 0;
    }
    
    .mobile-menu {
        display: block;
    }
}

.navbar.active {
    transform: translateX(0);
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* fim Menu */

/* começo container */

.intro{
    margin-top: 0;
    padding: 0;
    height: 80vh;
    width: 100%;
    background: #006ad7;
    color: #fff;
}

.img-duvida{
    width: 450px;
    margin-left: 18%;
}

.titulo-intro{
    padding-top: 10%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
}

.sobre{
    display: flex;
}

.img-empres{
    width: 100px;
    margin-left: 7%;
}

.empresas{
    width: 100%;
    height: 16vh;
    background: #e2e2e2;
    box-shadow: 0 0 5px #9e9c96;
}

.cont-btn-vm{
    margin-top: 10%;
    margin-left: 7%;
}

.btn-vermais{
    padding: 15px 20px;
    border: none;
    border-radius: 40px;
    background: #1a8afa;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.514);
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
}

.btn-vermais i{
    color: #fff;
    font-size: .9rem;
    padding-left: 10px;
}

.container{
    width: 90%;
    height: 900px;
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    background: #45a1f7;
}

.ttl-projeto h2{
    padding-top: 6%;
    text-align: center;
}

/* fim container */


/* começo footer */

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
}

footer {
    width: 100%;
    color: #fff;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: #006ad7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;    
    text-transform: uppercase;
}

#footer_contacts i {
    margin-right: 2.5%;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #000;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#instagram i{
    color: #ffffff;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #a2caf1;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #1a8afa;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #004f9e;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

/* fim footer */



/* Animação */


[data-anime]{
    opacity: 0;
    transition: 1s;
  }

  [data-anime="down"]{
    transform: translate3d(0, -100%,0);
  }

  [data-anime="up"]{
    transform: translate3d(0, 100%,0);
  }

  [data-anime="left"]{
    transform: translate3d(-100%, 0,0);
  }

  [data-anime="right"]{
    transform: translate3d(50px, 0,0);
  }

  [data-anime].animate{
    opacity: 1;
    transform: translate3d(0,0,0);
  }